# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Default owner for everything, a later match takes precedence
* @tapi2100 @Niqzu87 @NiklasRosenberg
# Order is important, the last match takes precedence over the previous match
# you can also use email address instead of username 
# When someone opens a pull request on javascript files, only the following owner will be requested for a review 
#*.js deepak.curator@gmail.com
# you can also speficy ownership for a specific directory & its sub directories.
# 

#Read More on CODEOWNERS at this link: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners 
